<section class="game-atmosphere" id="atmosphere">
  <div class="container">
    <h2 class="section-tittle">Game apmosphere</h2>
    <p class="section-data game-atm-text">
      From glittering forests <br class="shown" />
      to cursed castles, <br />
      Wacky Battles delivers <br class="shown" />
      a fantastical atmosphere where magic and madness reign.
    </p>

    <div class="game-atm-swiper swiper" data-swiper-atm>
      <div class="swiper-wrapper">
        <div class="swiper-slide game-atm-slide">
          <img
            srcset="
              /img/game-atmosphere/pict1.jpg    1x,
              /img/game-atmosphere/pict1@2x.jpg 2x
            "
            src="/img/game-atmosphere/pict1.jpg"
            alt="Fight with all your powers"
            class="game-atm-img"
            loading="lazy"
            data-atm-img
          />
        </div>

        <div class="swiper-slide game-atm-slide">
          <img
            srcset="
              /img/game-atmosphere/pict2.jpg    1x,
              /img/game-atmosphere/pict2@2x.jpg 2x
            "
            src="/img/game-atmosphere/pict2.jpg"
            alt="Collect iconic heroes"
            class="game-atm-img"
            loading="lazy"
            data-atm-img
          />
        </div>

        <div class="swiper-slide game-atm-slide">
          <img
            srcset="
              /img/game-atmosphere/pict3.jpg    1x,
              /img/game-atmosphere/pict3@2x.jpg 2x
            "
            src="/img/game-atmosphere/pict3.jpg"
            alt="Tour our wacky kingdom"
            class="game-atm-img"
            loading="lazy"
            data-atm-img
          />
        </div>

        <div class="swiper-slide game-atm-slide">
          <img
            srcset="
              /img/game-atmosphere/pict4.jpg    1x,
              /img/game-atmosphere/pict4@2x.jpg 2x
            "
            src="/img/game-atmosphere/pict4.jpg"
            alt="Explore fantastic worlds"
            class="game-atm-img"
            loading="lazy"
            data-atm-img
          />
        </div>
      </div>
    </div>

    <div class="custom-btn">
      <button type="button" class="btn-prev">
        <img
          srcset="
            /img/game-atmosphere/arrow-left.png    1x,
            /img/game-atmosphere/arrow-left@2x.png 2x
          "
          src="/img/game-atmosphere/arrow-left.png"
          alt="Arrow left"
          class="arrow-icon"
        />
      </button>
      <button type="button" class="btn-next">
        <img
          srcset="
            /img/game-atmosphere/arrow-right.png    1x,
            /img/game-atmosphere/arrow-right@2x.png 2x
          "
          src="/img/game-atmosphere/arrow-right.png"
          alt="Arrow right"
          class="arrow-icon"
        />
      </button>
    </div>

    <p class="section-data atm-add-text">
      Every battle feels like a mini fairy tale, thanks to hand-drawn
      environments, unique enemy designs, and a playful soundtrack that brings
      the enchanted <br class="shown" />
      world to life.
    </p>
  </div>
</section>
<section class="highlighted">
  <div class="text-highlighted">
    It’s not just about winning — <br />
    it’s about having fun along the way.
  </div>
</section>

<section class="container">
  <div class="atm-sign"></div>
</section>
