<!--Main Characters-->
<section class="characters" id="characters">
  <div class="container">
    <h2 class="characters-title">Main Characters</h2>
    <ul class="characters-list">
      <div class="characters-row top-row">
        <li class="characters-item">
          <div class="characters-text-container twinkleblade">
            <h3 class="characters-item-title">Twinkleblade</h3>
            <p class="characters-text">
              A fairy knight with a tiny sword<br />
              and massive attitude.
            </p>
          </div>
          <img
            class="characters-img"
            src="/img/characters/group13@1x.png"
            srcset="
              /img/characters/group13@1x.png 1x,
              /img/characters/group13@2x.png 2x
            "
            alt="Twinkleblade"
            width="195"
            height="274"
          />
        </li>
        <li class="characters-item">
          <div class="characters-text-container snorella">
            <h3 class="characters-item-title">Queen Snorella</h3>
            <p class="characters-text">
              A sleeping monarch who battles<br />
              in her dreams.
            </p>
          </div>
          <img
            class="characters-img"
            src="/img/characters/group14@1x.png"
            srcset="
              /img/characters/group14@1x.png 1x,
              /img/characters/group14@2x.png 2x
            "
            alt="Queen Snorella"
            width="180"
            height="303.39"
          />
        </li>
      </div>
      <div class="characters-row bottom-row">
        <li class="characters-item">
          <div class="characters-text-container grillbert">
            <h3 class="characters-item-title">Grillbert the Dragon Chef</h3>
            <p class="characters-text">
              A fire-breathing gourmet ready<br />
              to roast enemies.
            </p>
          </div>
          <img
            class="characters-img"
            src="/img/characters/group16@1x.png"
            srcset="
              /img/characters/group16@1x.png 1x,
              /img/characters/group16@2x.png 2x
            "
            alt="Grillbert the Dragon Chef"
            width="219.88"
            height="293"
          />
        </li>
        <li class="characters-item">
          <div class="characters-text-container toadrick">
            <h3 class="characters-item-title">Sir Toadrick</h3>
            <p class="characters-text">
              A cursed toad-warrior<br />
              who croaks commands.
            </p>
          </div>
          <img
            class="characters-img"
            src="/img/characters/group18@1x.png"
            srcset="
              /img/characters/group18@1x.png 1x,
              /img/characters/group18@2x.png 2x
            "
            alt="Sir Toadrick"
            width="157"
            height="278"
          />
        </li>
        <li class="characters-item">
          <div class="characters-text-container zapster">
            <h3 class="characters-item-title">Zapster</h3>
            <p class="characters-text">
              A mad wizard with unpredictable lightning spells.
            </p>
          </div>
          <img
            class="characters-img"
            src="/img/characters/group17@1x.png"
            srcset="
              /img/characters/group17@1x.png 1x,
              /img/characters/group17@2x.png 2x
            "
            alt="Zapster"
            width="256.71"
            height="262"
          />
        </li>
      </div>
    </ul>
    <div class="arrow-wrapper-three">
      <div class="arrow"></div>
      <div class="arrow"></div>
    </div>
  </div>
</section>
