<!--Cookies-->
<section class="cookies" data-cookies>
  <div class="container cookies-container">
    <h2 class="cookies-subtitle">cookies</h2>
    <p class="cookies-text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="cookies-buttons-container">
        <button class="cookies-button" data-decline>DECLINE COOKIES</button>
      <button class="cookies-button" data-accept>ACCEPT COOKIES</button> 
  </div>
</section>
