<section class="cta">
  <div class="container-cta">
    <h2 class="cta-tittle">Ready for the Weirdest Fantasy Battles Ever?</h2>
    <p class="cta-text">
      A wild mix of fantasy, fairy tales, and tactical turn-based battles!
    </p>
    <div class="cta-btn-wrap">
      <a
        class="google-play-btn"
        href="https://play.google.com/store/apps/details?id=com.dois.game.dm&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="google-img"
          src="/img/hero/app@1x.png"
          srcset="/img/hero/app@1x.png 1x, /img/hero/app@2x.png 2x"
          alt="google-play"
          width="121"
          height="27"
        />
      </a>
    </div>
  </div>

  <img
    src="/public/img/cta/sword.png"
    alt="Swords background"
    class="cta-img"
    srcset="/img/cta/sword.png 1x, /img/cta/sword@2x.png 2x"
  />
</section>
