<section class="faq" id="faq">
  <div class="container">
    <h2 class="faq-tittle">FAQ</h2>

    <div class="accordion-container data-accordion" data-accordion>
      <div class="ac data-item" data-item>
        <div class="ac-wrap data-header" data-header>
          <p class="ac-header">Is Wacky Battles free?</p>
          <button type="button" class="ac-toggle is-open" data-toggle></button>
        </div>

        <div class="ac-panel data-panel" data-panel>
          <p class="ac-text">
            Yes! It's free to play with optional in-game purchases.
          </p>
        </div>
      </div>

      <div class="ac data-item" data-item>
        <div class="ac-wrap data-header" data-header>
          <p class="ac-header">Do I need internet access?</p>
          <button type="button" class="ac-toggle" data-toggle></button>
        </div>

        <div class="ac-panel data-panel" data-panel>
          <p class="ac-text">
            Some features work offline, but an internet connection is needed for
            PvP.
          </p>
        </div>
      </div>

      <div class="ac data-item" data-item>
        <div class="ac-wrap data-header" data-header>
          <p class="ac-header">Is it kid-friendly?</p>
          <button type="button" class="ac-toggle" data-toggle></button>
        </div>

        <div class="ac-panel data-panel" data-panel>
          <p class="ac-text">
            The game is suitable for teens and up, with light humor and fantasy
            themes.
          </p>
        </div>
      </div>

      <div class="ac data-item" data-item>
        <div class="ac-wrap data-header" data-header>
          <p class="ac-header">Are updates planned?</p>
          <button type="button" class="ac-toggle" data-toggle></button>
        </div>

        <div class="ac-panel data-panel" data-panel>
          <p class="ac-text">
            Definitely! New characters and chapters are released regularly.
          </p>
        </div>
      </div>

      <div class="ac data-item" data-item>
        <div class="ac-wrap data-header" data-header>
          <p class="ac-header">Can I play on iOS?</p>
          <button type="button" class="ac-toggle" data-toggle></button>
        </div>

        <div class="ac-panel data-panel" data-panel>
          <p class="ac-text">
            Currently available on Android; iOS version coming soon.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
