<!--Game Features-->
<section class="features" id="features">
  <div class="container">
    <h2 class="made-title">Game Features</h2>
    <ul class="features-list">
      <li class="features-item">
        <img
          class="feature-card-img"
          src="/img/features/Rectangle.png"
          alt="Combat Icon"
          width="64"
          height="64"
        />
        <div class="features-item-text">
          <h3 class="feature-card-title">Turn-Based Fantasy Combat</h3>
          <p class="feature-card-text">
            Use tactics and <span class="mobile-br"></span> timing to defeat
            foes.
          </p>
        </div>
      </li>
      <li class="features-item">
        <img
          class="feature-card-img"
          src="/img/features/Rectangle-1.png"
          alt="Characters Icon"
          width="64"
          height="64"
        />
        <div class="features-item-text">
          <h3 class="feature-card-title">Quirky Characters</h3>
          <p class="feature-card-text">
            Battle with enchanted goats,<br />
            zombie princesses, <span class="mobile-br"></span> and ninja gnomes.
          </p>
        </div>
      </li>
      <li class="features-item">
        <img
          class="feature-card-img"
          src="/img/features/Rectangle-2.png"
          alt="Campaign Icon"
          width="64"
          height="64"
        />
        <div class="features-item-text">
          <h3 class="feature-card-title">Story-Driven Campaign</h3>
          <p class="feature-card-text">
            Dive into a world of twisted fairy tales and dark humor.
          </p>
        </div>
      </li>
      <li class="features-item">
        <img
          class="feature-card-img"
          src="/img/features/Rectangle-3.png"
          alt="Skills Icon"
          width="64"
          height="64"
        />
        <div class="features-item-text">
          <h3 class="feature-card-title">Skill Upgrades</h3>
          <p class="feature-card-text">
            Level up characters<br />
            and unlock magical powers.
          </p>
        </div>
      </li>
      <li class="features-item">
        <img
          class="feature-card-img"
          src="/img/features/Rectangle-4.png"
          alt="PvP Icon"
        />
        <div class="features-item-text">
          <h3 class="feature-card-title">PvP Arena</h3>
          <p class="feature-card-text">
            Compete with players worldwide for<br />
            leaderboard glory.
          </p>
        </div>
      </li>
      <li class="features-item">
        <img
          class="feature-card-img"
          src="/img/features/Rectangle-5.png"
          alt="Visuals Icon"
          width="64"
          height="64"
        />
        <div class="features-item-text">
          <h3 class="feature-card-title">Stylized Visuals</h3>
          <p class="feature-card-text">
            Colorful, cartoonish art style<br />
            with enchanted environments.
          </p>
        </div>
      </li>
    </ul>
    <div class="arrow-play"></div>
  </div>
</section>
