<!--Hero-->
<section class="home" id="home">
  <video autoplay muted loop playsinline class="home-video">
    <source src="/video/Fantasy.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="home-background">
    <h1 class="home-page">Wacky Battles – Enter the Enchanted Kingdom!</h1>
  </div>
  <div class="home-container container">
    <h2 class="home-subtitle">
      A wild mix of fantasy, fairy tales, and tactical turn-based battles!
    </h2>

    <a
      class="google-play-btn"
      href="https://play.google.com/store/apps/details?id=com.dois.game.dm&hl=en&gl=us"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="google-play-content">
        <img
          class="google-play-icon"
          src=""
          alt="Google Play icon"
          width="24"
          height="24"
        />
      </div>
      <div class="google-play-text">
        <span class="google-play-text">get it on</span>
        <span class="google-play-text">Google Play</span>
      </div>
    </a>
  </div>
</section>
