<!--How to Play-->
<section class="play" id="play">
  <div class="container">
    <h2 class="play-title">How to Play</h2>
    <ul class="play-list">
      <li class="play-item" data-aos="zoom-out-down" data-aos-delay="0">
        <div class="play-item-content">
          <h3 class="play-item-title">Recruit Heroes</h3>
          <p class="play-item-text">
            Unlock wacky warriors<br />
            from fairy tale lore.
          </p>
        </div>
      </li>
      <li class="play-item" data-aos="zoom-out-down" data-aos-delay="200">
        <div class="play-item-content">
          <h3 class="play-item-title">Form Your Strategy</h3>
          <p class="play-item-text">
            Arrange your team <br />
            for maximum <br />battle impact.
          </p>
        </div>
      </li>
      <li class="play-item" data-aos="zoom-out-down" data-aos-delay="400">
        <div class="play-item-content">
          <h3 class="play-item-title">
            Engage <br />
            in Turn-Based Combat
          </h3>
          <p class="play-item-text">Make your move <br />and outwit enemies.</p>
        </div>
      </li>
      <li class="play-item" data-aos="zoom-out-down" data-aos-delay="600">
        <div class="play-item-content">
          <h3 class="play-item-title">Explore <br />the Enchanted Kingdom</h3>
          <p class="play-item-text">
            Unlock regions,<br />
            complete missions,<br />
            and discover hidden stories.
          </p>
        </div>
      </li>
      <li class="play-item" data-aos="zoom-out-down" data-aos-delay="800">
        <div class="play-item-content">
          <h3 class="play-item-title">Climb the Ranks</h3>
          <p class="play-item-text">
            Challenge other players <br />
            and rise through<br />
            the PvP arena.
          </p>
        </div>
      </li>
    </ul>
    <div class="arrow-play"></div>
  </div>
</section>
