<section class="reviews" id="reviews">
  <div class="reviews-container">
    <h2 class="reviews-tittle">Reviews</h2>
    <div class="swiper reviews-swiper" data-reviews-swiper>
      <div class="swiper-wrapper reviews-swiper-wrapper">
        <div class="swiper-slide reviews-swiper-slide">
          <div class="sumbol">“</div>
          <p class="reviews-slide-text">
            It’s hilarious and surprisingly strategic—love the story twists!
          </p>
          <ul class="review-rate">
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
          </ul>

          <div class="review-person">
            <img
              class="person-img"
              src="/img/reviews/Anna.jpg"
              alt="Anna P"
              srcset="/img/reviews/Anna.jpg 1x, /img/reviews/Anna@2x.jpg 2x"
            />
            <p class="person-tittle">Anna P.</p>
          </div>
        </div>

        <div class="swiper-slide reviews-swiper-slide">
          <div class="sumbol">“</div>
          <p class="reviews-slide-text">
            These battles are so wacky, I can’t stop playing!
          </p>

          <ul class="review-rate">
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-empty.png"
                alt="Star"
                srcset="
                  /img/reviews/star-empty.png    1x,
                  /img/reviews/star-empty@2x.png 2x
                "
              />
            </li>
          </ul>

          <div class="review-person">
            <img
              class="person-img"
              src="/img/reviews/Markk.jpg"
              alt="Mark"
              srcset="/img/reviews/Markk.jpg 1x, /img/reviews/Markk@2x.jpg 2x"
            />
            <p class="person-tittle">Mark J.</p>
          </div>
        </div>
        <div class="swiper-slide reviews-swiper-slide">
          <div class="sumbol">“</div>
          <p class="reviews-slide-text">
            Finally, a fantasy game that doesn’t take itself too seriously but
            still offers great gameplay.
          </p>
          <ul class="review-rate">
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
          </ul>

          <div class="review-person">
            <img
              class="person-img"
              src="/img/reviews/Tina.jpg"
              alt="Tina W"
              srcset="/img/reviews/Tina.jpg 1x, /img/reviews/Tina@2x.jpg 2x"
            />
            <p class="person-tittle">Tina W.</p>
          </div>
        </div>
        <div class="swiper-slide reviews-swiper-slide">
          <div class="sumbol">“</div>
          <p class="reviews-slide-text">
            Each character is a gem. Twinkleblade is my favorite!
          </p>
          <ul class="review-rate">
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-empty.png"
                alt="Star"
                srcset="
                  /img/reviews/star-empty.png    1x,
                  /img/reviews/star-empty@2x.png 2x
                "
              />
            </li>
          </ul>

          <div class="review-person">
            <img
              class="person-img"
              src="/img/reviews/Eric.jpg"
              alt="Eric D"
              srcset="/img/reviews/Eric.jpg 1x, /img/reviews/Eric@2x.jpg 2x"
            />
            <p class="person-tittle">Eric D.</p>
          </div>
        </div>
        <div class="swiper-slide reviews-swiper-slide">
          <div class="sumbol">“</div>
          <p class="reviews-slide-text">
            The art style is fantastic, and I enjoy the humor a lot!
          </p>
          <ul class="review-rate">
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
            <li class="star">
              <img
                width="19"
                height="18"
                src="/img/reviews/star-filled.png"
                alt="Star"
                srcset="
                  /img/reviews/star-filled.png    1x,
                  /img/reviews/star-filled@2x.png 2x
                "
              />
            </li>
          </ul>

          <div class="review-person">
            <img
              class="person-img"
              src="/img/reviews/Juno.jpg"
              alt="Juno K"
              srcset="/img/reviews/Juno.jpg 1x, /img/reviews/Juno@2x.jpg 2x"
            />
            <p class="person-tittle">Juno K.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="atm-sign"></div>
  </div>
</section>
